<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container">
  <h1>Find your favorite</h1>
</div>

<app-favourite [is-favorite]="post.isFavorite" (change)="change($event)"></app-favourite> -->

<!-- <div class="container">
  <app-panel>
    <ng-container class="header">
      <h1>Test me out</h1>
    </ng-container>
    <ng-container class="body">
      this is it
    </ng-container>
  </app-panel>
</div>  -->

<div class="container">
  <app-like [isLiked]="post.isLiked" [likeCount]="post.likeCount"></app-like>
</div>

